apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ appName }}
  name: {{ appName }}
spec:
  ports:
    - port: {{ port }}
      nodePort: {{ nodePort }}
      protocol: TCP
      targetPort: {{ port  }}
  selector:
    app: {{ appName }}
  type: NodePort
